<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.webbank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="鼹鼠银行"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zhuanzhang"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="zhuanzhang" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="payment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zhuceActivity"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="zhuce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminActivity"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="admin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deleteActivity"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="delete" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".changePasswd"
            android:label="鼹鼠银行">
            <intent-filter>
                <action android:name="changePasswd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>